body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.welcome-part h1{
    font-size: xx-large;
    color: #575757; 
}
.about-part h2{
    color: gray;
}
.welcome-text{
    color: gray;
}
.fancy-color{
    color: tomato;
}
.welcome-part{
    display: flex;
    width: 90%;
    margin-top: 60px;
    margin-left: 5%;
}
.half-width{
    width: 90%;
    padding: 5%;
}
.half-width img {
    margin-top: -40px;
    width: 90%; 
}
.link-button{
    margin-top: 10%;
    text-decoration: none;
    background-image: linear-gradient(orange,red, tomato);
    padding: 8px 20px;
    border-radius: 20px;
    color: #FFFFFF;
}
.about-part{
    display: flex;
    width: 100%;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 80px;
}
.about-img{
    width: 100%;
}
.about-part img{
    width: 290px;
    padding: 40px 0 0 200px;
    margin-bottom: 0;
}
.about-text{
    margin: 10% 20%;
}
.my-recipes{
    text-align: center;
}
.all-recipe{
    display: flex;
    margin: 0 10%;
}
.recipe-items{
    width: 100%;
    box-shadow:.5px .5px 15px 2px gray;
    margin: 5%;
    border-radius: 10px;
    padding: 2%;
    height: 390px;
}
.recipe-items img{
    width: 95%;
    padding: 2%;
}
.public-occurances{
    height: 150px;
    width: 70%;
    margin: 5% 15%;
    display: flex;
    text-align: center;
    box-shadow: .5px .5px 15px 2px gray;
    border-radius: 5px;
}
.occurances{
    padding: 0 90px ;
}
footer{
    color: grey;
    background-color: black;
    text-align: center;
    padding: 2%;
}
footer small{
    color: white;
}